html, body {
  width: 100%;
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-color: #F2F2F2
  }
  html {
    scroll-behavior: smooth;
  }
  .menu_color{
    margin-left: 30px;
    font-size: 20px;
    color: #FFF;
  }

  .topo img{
    margin-bottom: -25%;
    margin-top: -20%;
    width: 150px;
    height: 150px;
  }
  
 .h1destaques{
   margin: 4%;
   text-align: center;
   font-size: 15px;
 }
 .h1depoimentos{
  margin: 4%;
  text-align: center;
  font-size: 15px;
}

.h1contato{
  margin: 4%;
  text-align: center;
  font-size: 15px;
}
  .destaques {
    width: 70%;
    margin: 2% auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
  }

  .depoimentos{
    width: 70%;
    margin:2% auto 2%;
    margin-left: 16%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
  }

  .contato{
    width: 70%;
    margin:2% auto 2%;
    margin-left: 22%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
  }
  .name{
    width: 360px;
  }
  .endereco{
    width: 360px;
  }
  .inf, .formulario{
    margin-left: 6%;
  }
  .msg{
    width: 360px;
    height: 100px;
  }
  .cidade{
    margin-left: -100%;
    width: 225px;
  }
  .cep{
    width: 30%;
  }
  .email{
    width: 360px;
    margin-left: 5%;
  }
  .card {
    height: 450px;
    box-shadow: 0 3px 8px 2px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    font-size: 13px;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    padding: 12px;
    color: white;
    background-color: #0040FF;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    position: absolute;
   left: 5%;
   bottom: 5px;
   width: 90%;
  }
  
  .card button:hover {
    opacity: 0.7;
  }
  
   
.sobre{
  text-align: center;
  height: 300px;
  width: 70%;
  margin: 10% auto;
  font-size: 20px;
}

  
  .rodape {
    height: 50px;
    padding:1px;
    text-align:center;
    background-color:#333;
    border-top:2px solid #222;
  }
  

  @media(max-width:992px){
    .email, .name, .msg, .cep, .endereco{
      margin-left: 1% 
    }
    .cidade{
      margin-left: 2%;
    }
    iframe{
      width: 690px;
    }
    }
    @media(max-width:421px){
      .email, .name, .msg, .cep,.cidade, .endereco{
        width: 250px; 
      }
      .cidade{
        margin-left: 2%;
      }
    }
    @media(max-width:315px){
      .email, .name, .msg, .cep, .cidade, .endereco{
          width: 180px; 
      }
      .cidade{
          margin-left: 2%;
      }
    }


  .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      bottom: 10px;
      right: 10px;
      width: 50px;
      height: 50px;
      background-color: #000;
      text-decoration: none;
  }
  .btn::after {
      content: "↑";
      font-size: 32px;
      font-weight: bold;
      color: aliceblue;
      transition: margin-top 250ms;
  }
  .btn:hover::after {
      margin-top:-8px;
  }