body{
  margin: 0;
  padding: 0;
}

.topo{
  background-color: #CCC;
  border-bottom: 2px solid #333;
  margin-bottom: 15px;
  padding-top: 10px;
  text-align: center;
}

.logo img{
  height: 50px;
}

.menu ul{
  list-style: none;
  padding: 0;
}

.menu a{
  background-color: #333;
  color: #FFF;
  display: block;
  padding: 15px;
  width: 120px;
  margin: 10px auto;
  text-decoration: none
}

.menu a:hover{
  background-color: #777;
}

.banner{
  display: none;
}

.noticias{
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}

.noticia{
  margin: 0 5px;
  width: 250px;
  text-align: center;
}

.noticia img{
  height: 250px;
  width: 250px;
}

.rodape{
  background-color: #CCC;
  border-top: 2px solid #333;
  padding: 10px;
  text-align: center;
}

